{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Cambio password{% endblock %}

{% block content %}
<h1 class="text-center text-2xl md:text-4xl font-bold my-8 md:my-12">Cambio password</h1>
<div class="card w-full max-w-md shadow-xl bg-base-200 mx-auto">
  <div class="card-body">
    <form method="post" class="space-y-4">{% csrf_token %}
      {{ form.non_field_errors }}
      <div>
        <label class="label mb-2">
          <span class="label-text">Vecchia password</span>
        </label>
        {{ form.old_password|add_class:"input input-bordered w-full" }}
        {% if form.old_password.errors %}
          <div class="text-error text-sm mt-2">{{ form.old_password.errors|striptags }}</div>
        {% endif %}
      </div>
      <div>
        <label class="label mb-2">
          <span class="label-text">Nuova password</span>
        </label>
        {{ form.new_password|add_class:"input input-bordered w-full" }}
        {% if form.new_password.errors %}
          <div class="text-error text-sm mt-2">{{ form.new_password.errors|striptags }}</div>
        {% endif %}
      </div>
      <div>
        <label class="label mb-2">
          <span class="label-text">Ripeti nuova password</span>
        </label>
        {{ form.new_password_repeat|add_class:"input input-bordered w-full" }}
        {% if form.new_password_repeat.errors %}
          <div class="text-error text-sm mt-2">{{ form.new_password_repeat.errors|striptags }}</div>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary w-full">Cambia password</button>
    </form>
    {% if messages %}
      <div class="mt-4">
        {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
